.exam-page-bg {
    background-color: #e9ecef;
    min-height: 100vh;
    /* padding: 20px 0; */
}

.subject-header {
    font-size: 2rem;
    color: #004085;
    margin-bottom: 2rem;
    font-weight: bold;
}

.subject-row {
    margin-bottom: 2rem;
}

.exam-card {
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(140, 177, 175, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    border: none;
}

.exam-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.exam-card .card-body {
    padding: 2rem;
}

.exam-card .card-title {
    margin-top: 1rem;
    font-weight: bold;
    color: #004085;
}

.exam-card .card-text {
    font-size: 1rem;
    color: #333;
}

.modal-content {
    border-radius: 0.5rem;
}

.modal-header {
    background-color: #004085;
    color: white;
}

.modal-footer .btn {
    margin-right: 10px;
}

.text-center {
    /* color: #004085; */
}

.text-muted {
    color: #6c757d !important;
}